extends layout.pug

block content
  each post in posts
    article.front-page
      header
        h1= post.title

        time(data-date=post.date)
          a.permalink(href=post.path)

      section
        != post.snippet

      footer
        a.permalink(href=post.path)
          | Read more